@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100dvw;
    height: 100dvh;
}

body {
    background: linear-gradient(114deg, rgba(218,240,255,1) 0%, rgba(142,193,245,1) 60%, rgba(60,100,236,1) 100%) no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.calculadora {
    width: 312px;
    height: fit-content;
    border-radius: 39px;
    background: linear-gradient(36deg, rgba(23, 23, 24, 0.993) 0%, rgba(18, 18, 20, 0.945) 60%, rgba(8, 8, 11, 0.952) 100%);

    padding: 26px;
}

.tela {
    height: 107px;
    background-color: rgba(18, 18, 20, 0.651);
    border-radius: 24px;
    padding: 20px 14px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: column;
    align-items: end;

    overflow: hidden;
    
}

.conta {
    height: 35px;
    color: #818181;
    font-size: 20px;
}

.resultado {
    height: 72px;
    color: white;
    font-size: 48px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linha {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.botoes .btn {
    width: 62px;
    height: 62px;

    border: none;
    border-radius: 16px;
    background-color: #303136;
    color: #29A8FF;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s;
}

.botoes .btn:hover {
    filter: brightness(1.2);
}

.btn.clear,
.btn.del {
    background-color: #616161;
    color: #A5A5A5;
}

.btn.op {
    background-color: #005DB2;
}

.btn.large {
    flex: 2;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}